/* MapView.css - Restored */

.map-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.map-callout-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    contain: layout size;
    pointer-events: none;
    z-index: 10;
}

/* 
  SpotCalloutManager creates elements that likely need to be visible 
  even if the layer is pointer-events: none. 
  Children should have pointer-events: auto.
*/
.map-callout-layer>* {
    pointer-events: auto;
}